@import url(style/header.css)

:root {
    --cor-de-fundo: #EBECEE;

}

  body{
      background-color: var(--cor-de-fundo);
}

.carrinho.png{
    padding: 1%;
    size: 10cm;
    height: 1%;
    margin: 1%;
    width: 1%;
}