@import url(style/header.css)

:root {
    --cor-de-fundo: #EBECEE;

}

  body{
      background-color: var(--cor-de-fundo);
}

.carrinho.png{
    padding: 1px 1px;
    height: 1%;
    margin: 1px 1px;
    width: 1px 1px;
}